### Creating Pandas series (Part 2)

#### from Numpy array

In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = np.array([10, 25, 6, 36, 2])
sales

array([10, 25,  6, 36,  2])

In [3]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

#### from List

In [4]:
sales = [10, 25, 6, 36, 2]

In [5]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

#### from Dictionary

In [6]:
dic = {
    "Mon": 10,
    "Tue": 25,
    "Wed": 6,
    "Thu": 36,
    "Fri": 2
}

dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [7]:
sales = pd.Series(dic)

In [8]:
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [9]:
pd.Series(dic, index=["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue    25.0
Wed     6.0
dtype: float64

In [10]:
pd.Series(dic, index=[1, 2, 3, 4, 5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

### Indexing and slicing

In [11]:
import pandas as pd

In [12]:
titanic = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')

In [13]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [14]:
age = titanic.age

In [15]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [16]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [17]:
age[0]

22.0

In [18]:
age.iloc[-1]

32.0

In [19]:
age[890]

32.0

In [20]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [21]:
age[[3, 4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [22]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [23]:
summer = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/summer.csv', index_col='Athlete')

In [24]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [25]:
event = summer['Event']

In [26]:
event

Athlete
HAJOS, Alfred                            100M Freestyle
HERSCHMANN, Otto                         100M Freestyle
DRIVAS, Dimitrios            100M Freestyle For Sailors
MALOKINIS, Ioannis           100M Freestyle For Sailors
CHASAPIS, Spiridon           100M Freestyle For Sailors
                                        ...
JANIKOWSKI, Damian                             Wg 84 KG
REZAEI, Ghasem Gholamreza                      Wg 96 KG
TOTROV, Rustam                                 Wg 96 KG
ALEKSANYAN, Artur                              Wg 96 KG
LIDBERG, Jimmy                                 Wg 96 KG
Name: Event, Length: 31165, dtype: object

In [27]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [28]:
event[0]

'100M Freestyle'

In [29]:
event[1]

'100M Freestyle'

In [30]:
event[-1]

'Wg 96 KG'

In [31]:
event.iloc[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [32]:
event['DRIVAS, Dimitrios']

'100M Freestyle For Sailors'

In [33]:
event[:'DRIVAS, Dimitrios']

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [34]:
event['PHELPS, Michael']

PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [35]:
event.loc['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [36]:
event.loc['PHELPS, Michael'].equals(event['PHELPS, Michael'])

True

In [37]:
event.loc[['PHELPS, Michael', 'LEWIS, Carl']]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [38]:
event.loc[['PHELPS, Michael', 'DUCK, Donald']]

# Error
# This is no longer supported

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'