### Renaming index and column labels

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("../Course_Materials_Part1/Video_Lecture_NBs/summer.csv", index_col="Athlete")

In [3]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [4]:
summer.index[0]

'HAJOS, Alfred'

In [5]:
summer.index[0] = 'HAJOS, Alfred'

# Error
# Index is immutable, unless a list is passed

TypeError: Index does not support mutable operations

In [6]:
# This is the work around

summer.rename(mapper = {"HAJOS, Alfred":'HAYOS, Alfred'}, axis="index")

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [7]:
summer.rename(index = {"HAJOS, Alfred":'HAYOS, Alfred'}, inplace=True)

In [8]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [9]:
summer.rename(mapper = {"Sex":"Gender", "City":"Host_City"}, axis = "columns")

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [10]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [11]:
summer.rename(columns = {"Sex":"Gender", "City":"Host_City"}, inplace=True)

In [12]:
summer

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

### Filtering dataframes with on condition

In [13]:
titanic = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')

In [14]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [15]:
titanic['sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object

In [16]:
pd.options.display.max_rows = 900

titanic['sex'] == 'male'

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
30      True
31     False
32     False
33      True
34      True
35      True
36      True
37      True
38     False
39     False
40     False
41     False
42      True
43     False
44     False
45      True
46      True
47     False
48      True
49     False
50      True
51      True
52     False
53     False
54      True
55      True
56     False
57      True
58     False
59      True
60      True
61     False
62      True
63      True
64      True
65      True
66     False
67      True
68     False
69      True
70      True
71     False
72      True
73      True
74      True
75      True
76      True
77      True
78      True
79     False
80      True
81      True
82     False
83      True
84     False
85     False
86      True
87      True
88     False
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96      True
97      True
98     False
99      True
100    False
101     True
102     True
103     True
104     True
105     True
106    False
107     True
108     True
109    False
110     True
111    False
112     True
113    False
114    False
115     True
116     True
117     True
118     True
119    False
120     True
121     True
122     True
123    False
124     True
125     True
126     True
127     True
128    False
129     True
130     True
131     True
132    False
133    False
134     True
135     True
136    False
137     True
138     True
139     True
140    False
141    False
142    False
143     True
144     True
145     True
146     True
147    False
148     True
149     True
150     True
151    False
152     True
153     True
154     True
155     True
156    False
157     True
158     True
159     True
160     True
161    False
162     True
163     True
164     True
165     True
166    False
167    False
168     True
169     True
170     True
171     True
172    False
173     True
174     True
175     True
176     True
177    False
178     True
179     True
180    False
181     True
182     True
183     True
184    False
185     True
186    False
187     True
188     True
189     True
190    False
191     True
192    False
193     True
194    False
195    False
196     True
197     True
198    False
199    False
200     True
201     True
202     True
203     True
204     True
205    False
206     True
207     True
208    False
209     True
210     True
211    False
212     True
213     True
214     True
215    False
216    False
217     True
218    False
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228     True
229    False
230    False
231     True
232     True
233    False
234     True
235    False
236     True
237    False
238     True
239     True
240    False
241    False
242     True
243     True
244     True
245     True
246    False
247    False
248     True
249     True
250     True
251    False
252     True
253     True
254    False
255    False
256    False
257    False
258    False
259    False
260     True
261     True
262     True
263     True
264    False
265     True
266     True
267     True
268    False
269    False
270     True
271     True
272    False
273     True
274    False
275    False
276    False
277     True
278     True
279    False
280     True
281     True
282     True
283     True
284     True
285     True
286     True
287     True
288     True
289    False
290    False
291    False
292     True
293    False
294     True
295     True
296     True
297    False
298     True
299    False
300    False
301     True
302     True
303    False
304     True
305     True
306    False
307    False
308     True
309    False
310    False
311    False
312    False
313     True
314     True
315    False
316    False
317     True
318    False
319    False
320     True
321     True
322    False
323    False
324     True
325    False
326     True
327    False
328    False
329    False
330    False
331     True
332     True
333     True
334    False
335     True
336     True
337    False
338     True
339     True
340     True
341    False
342     True
343     True
344     True
345    False
346    False
347    False
348     True
349     True
350     True
351     True
352     True
353     True
354     True
355     True
356    False
357    False
358    False
359    False
360     True
361     True
362    False
363     True
364     True
365     True
366    False
367    False
368    False
369    False
370     True
371     True
372     True
373     True
374    False
375    False
376    False
377     True
378     True
379     True
380    False
381    False
382     True
383    False
384     True
385     True
386     True
387    False
388     True
389    False
390     True
391     True
392     True
393    False
394    False
395     True
396    False
397     True
398     True
399    False
400     True
401     True
402    False
403     True
404    False
405     True
406     True
407     True
408     True
409    False
410     True
411     True
412    False
413     True
414     True
415    False
416    False
417    False
418     True
419    False
420     True
421     True
422     True
423    False
424     True
425     True
426    False
427    False
428     True
429     True
430     True
431    False
432    False
433     True
434     True
435    False
436    False
437    False
438     True
439     True
440    False
441     True
442     True
443    False
444     True
445     True
446    False
447     True
448    False
449     True
450     True
451     True
452     True
453     True
454     True
455     True
456     True
457    False
458    False
459     True
460     True
461     True
462     True
463     True
464     True
465     True
466     True
467     True
468     True
469    False
470     True
471     True
472    False
473    False
474    False
475     True
476     True
477     True
478     True
479    False
480     True
481     True
482     True
483    False
484     True
485    False
486    False
487     True
488     True
489     True
490     True
491     True
492     True
493     True
494     True
495     True
496    False
497     True
498    False
499     True
500     True
501    False
502    False
503    False
504    False
505     True
506    False
507     True
508     True
509     True
510     True
511     True
512     True
513    False
514     True
515     True
516    False
517     True
518    False
519     True
520    False
521     True
522     True
523    False
524     True
525     True
526    False
527     True
528     True
529     True
530    False
531     True
532     True
533    False
534    False
535    False
536     True
537    False
538     True
539    False
540    False
541    False
542    False
543     True
544     True
545     True
546    False
547     True
548     True
549     True
550     True
551     True
552     True
553     True
554    False
555     True
556    False
557     True
558    False
559    False
560     True
561     True
562     True
563     True
564    False
565     True
566     True
567    False
568     True
569     True
570     True
571    False
572     True
573    False
574     True
575     True
576    False
577    False
578    False
579     True
580    False
581    False
582     True
583     True
584     True
585    False
586     True
587     True
588     True
589     True
590     True
591    False
592     True
593    False
594     True
595     True
596    False
597     True
598     True
599     True
600    False
601     True
602     True
603     True
604     True
605     True
606     True
607     True
608    False
609    False
610    False
611     True
612    False
613     True
614     True
615    False
616     True
617    False
618    False
619     True
620     True
621     True
622     True
623     True
624     True
625     True
626     True
627    False
628     True
629     True
630     True
631     True
632     True
633     True
634    False
635    False
636     True
637     True
638    False
639     True
640     True
641    False
642    False
643     True
644    False
645     True
646     True
647     True
648     True
649    False
650     True
651    False
652     True
653    False
654    False
655     True
656     True
657    False
658     True
659     True
660     True
661     True
662     True
663     True
664     True
665     True
666     True
667     True
668     True
669    False
670    False
671     True
672     True
673     True
674     True
675     True
676     True
677    False
678    False
679     True
680    False
681     True
682     True
683     True
684     True
685     True
686     True
687     True
688     True
689    False
690     True
691    False
692     True
693     True
694     True
695     True
696     True
697    False
698     True
699     True
700    False
701     True
702    False
703     True
704     True
705     True
706    False
707     True
708    False
709     True
710    False
711     True
712     True
713     True
714     True
715     True
716    False
717    False
718     True
719     True
720    False
721     True
722     True
723     True
724     True
725     True
726    False
727    False
728     True
729    False
730    False
731     True
732     True
733     True
734     True
735     True
736    False
737     True
738     True
739     True
740     True
741     True
742    False
743     True
744     True
745     True
746     True
747    False
748     True
749     True
750    False
751     True
752     True
753     True
754    False
755     True
756     True
757     True
758     True
759    False
760     True
761     True
762     True
763    False
764     True
765    False
766     True
767    False
768     True
769     True
770     True
771     True
772    False
773     True
774    False
775     True
776     True
777    False
778     True
779    False
780    False
781    False
782     True
783     True
784     True
785     True
786    False
787     True
788     True
789     True
790     True
791     True
792    False
793     True
794     True
795     True
796    False
797    False
798     True
799    False
800     True
801    False
802     True
803     True
804     True
805     True
806     True
807    False
808     True
809    False
810     True
811     True
812     True
813    False
814     True
815     True
816    False
817     True
818     True
819     True
820    False
821     True
822     True
823    False
824     True
825     True
826     True
827     True
828     True
829    False
830    False
831     True
832     True
833     True
834     True
835    False
836     True
837     True
838     True
839     True
840     True
841     True
842    False
843     True
844     True
845     True
846     True
847     True
848     True
849    False
850     True
851     True
852    False
853    False
854    False
855    False
856    False
857     True
858    False
859     True
860     True
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: sex, dtype: bool

In [17]:
titanic[titanic['sex'] == 'male']

     survived  pclass   sex    age  sibsp  parch      fare embarked deck
0           0       3  male  22.00      1      0    7.2500        S  NaN
4           0       3  male  35.00      0      0    8.0500        S  NaN
5           0       3  male    NaN      0      0    8.4583        Q  NaN
6           0       1  male  54.00      0      0   51.8625        S    E
7           0       3  male   2.00      3      1   21.0750        S  NaN
12          0       3  male  20.00      0      0    8.0500        S  NaN
13          0       3  male  39.00      1      5   31.2750        S  NaN
16          0       3  male   2.00      4      1   29.1250        Q  NaN
17          1       2  male    NaN      0      0   13.0000        S  NaN
20          0       2  male  35.00      0      0   26.0000        S  NaN
21          1       2  male  34.00      0      0   13.0000        S    D
23          1       1  male  28.00      0      0   35.5000        S    A
26          0       3  male    NaN      0      0    7.2250        C  NaN
27          0       1  male  19.00      3      2  263.0000        S    C
29          0       3  male    NaN      0      0    7.8958        S  NaN
30          0       1  male  40.00      0      0   27.7208        C  NaN
33          0       2  male  66.00      0      0   10.5000        S  NaN
34          0       1  male  28.00      1      0   82.1708        C  NaN
35          0       1  male  42.00      1      0   52.0000        S  NaN
36          1       3  male    NaN      0      0    7.2292        C  NaN
37          0       3  male  21.00      0      0    8.0500        S  NaN
42          0       3  male    NaN      0      0    7.8958        C  NaN
45          0       3  male    NaN      0      0    8.0500        S  NaN
46          0       3  male    NaN      1      0   15.5000        Q  NaN
48          0       3  male    NaN      2      0   21.6792        C  NaN
50          0       3  male   7.00      4      1   39.6875        S  NaN
51          0       3  male  21.00      0      0    7.8000        S  NaN
54          0       1  male  65.00      0      1   61.9792        C    B
55          1       1  male    NaN      0      0   35.5000        S    C
57          0       3  male  28.50      0      0    7.2292        C  NaN
59          0       3  male  11.00      5      2   46.9000        S  NaN
60          0       3  male  22.00      0      0    7.2292        C  NaN
62          0       1  male  45.00      1      0   83.4750        S    C
63          0       3  male   4.00      3      2   27.9000        S  NaN
64          0       1  male    NaN      0      0   27.7208        C  NaN
65          1       3  male    NaN      1      1   15.2458        C  NaN
67          0       3  male  19.00      0      0    8.1583        S  NaN
69          0       3  male  26.00      2      0    8.6625        S  NaN
70          0       2  male  32.00      0      0   10.5000        S  NaN
72          0       2  male  21.00      0      0   73.5000        S  NaN
73          0       3  male  26.00      1      0   14.4542        C  NaN
74          1       3  male  32.00      0      0   56.4958        S  NaN
75          0       3  male  25.00      0      0    7.6500        S    F
76          0       3  male    NaN      0      0    7.8958        S  NaN
77          0       3  male    NaN      0      0    8.0500        S  NaN
78          1       2  male   0.83      0      2   29.0000        S  NaN
80          0       3  male  22.00      0      0    9.0000        S  NaN
81          1       3  male  29.00      0      0    9.5000        S  NaN
83          0       1  male  28.00      0      0   47.1000        S  NaN
86          0       3  male  16.00      1      3   34.3750        S  NaN
87          0       3  male    NaN      0      0    8.0500        S  NaN
89          0       3  male  24.00      0      0    8.0500        S  NaN
90          0       3  male  29.00      0      0    8.0500        S  NaN
91          0       3  male  20.00      0      0    7.8542        S  NaN
92          0       1  male  46.00      1      0   61.1750        S    E
93          0       3  male  26.00      1      2   20.5750        S  NaN
94          0       3  male  59.00      0      0    7.2500        S  NaN
95          0       3  male    NaN      0      0    8.0500        S  NaN
96          0       1  male  71.00      0      0   34.6542        C    A
97          1       1  male  23.00      0      1   63.3583        C    D
99          0       2  male  34.00      1      0   26.0000        S  NaN
101         0       3  male    NaN      0      0    7.8958        S  NaN
102         0       1  male  21.00      0      1   77.2875        S    D
103         0       3  male  33.00      0      0    8.6542        S  NaN
104         0       3  male  37.00      2      0    7.9250        S  NaN
105         0       3  male  28.00      0      0    7.8958        S  NaN
107         1       3  male    NaN      0      0    7.7750        S  NaN
108         0       3  male  38.00      0      0    7.8958        S  NaN
110         0       1  male  47.00      0      0   52.0000        S    C
112         0       3  male  22.00      0      0    8.0500        S  NaN
115         0       3  male  21.00      0      0    7.9250        S  NaN
116         0       3  male  70.50      0      0    7.7500        Q  NaN
117         0       2  male  29.00      1      0   21.0000        S  NaN
118         0       1  male  24.00      0      1  247.5208        C    B
120         0       2  male  21.00      2      0   73.5000        S  NaN
121         0       3  male    NaN      0      0    8.0500        S  NaN
122         0       2  male  32.50      1      0   30.0708        C  NaN
124         0       1  male  54.00      0      1   77.2875        S    D
125         1       3  male  12.00      1      0   11.2417        C  NaN
126         0       3  male    NaN      0      0    7.7500        Q  NaN
127         1       3  male  24.00      0      0    7.1417        S  NaN
129         0       3  male  45.00      0      0    6.9750        S  NaN
130         0       3  male  33.00      0      0    7.8958        C  NaN
131         0       3  male  20.00      0      0    7.0500        S  NaN
134         0       2  male  25.00      0      0   13.0000        S  NaN
135         0       2  male  23.00      0      0   15.0458        C  NaN
137         0       1  male  37.00      1      0   53.1000        S    C
138         0       3  male  16.00      0      0    9.2167        S  NaN
139         0       1  male  24.00      0      0   79.2000        C    B
143         0       3  male  19.00      0      0    6.7500        Q  NaN
144         0       2  male  18.00      0      0   11.5000        S  NaN
145         0       2  male  19.00      1      1   36.7500        S  NaN
146         1       3  male  27.00      0      0    7.7958        S  NaN
148         0       2  male  36.50      0      2   26.0000        S    F
149         0       2  male  42.00      0      0   13.0000        S  NaN
150         0       2  male  51.00      0      0   12.5250        S  NaN
152         0       3  male  55.50      0      0    8.0500        S  NaN
153         0       3  male  40.50      0      2   14.5000        S  NaN
154         0       3  male    NaN      0      0    7.3125        S  NaN
155         0       1  male  51.00      0      1   61.3792        C  NaN
157         0       3  male  30.00      0      0    8.0500        S  NaN
158         0       3  male    NaN      0      0    8.6625        S  NaN
159         0       3  male    NaN      8      2   69.5500        S  NaN
160         0       3  male  44.00      0      1   16.1000        S  NaN
162         0       3  male  26.00      0      0    7.7750        S  NaN
163         0       3  male  17.00      0      0    8.6625        S  NaN
164         0       3  male   1.00      4      1   39.6875        S  NaN
165         1       3  male   9.00      0      2   20.5250        S  NaN
168         0       1  male    NaN      0      0   25.9250        S  NaN
169         0       3  male  28.00      0      0   56.4958        S  NaN
170         0       1  male  61.00      0      0   33.5000        S    B
171         0       3  male   4.00      4      1   29.1250        Q  NaN
173         0       3  male  21.00      0      0    7.9250        S  NaN
174         0       1  male  56.00      0      0   30.6958        C    A
175         0       3  male  18.00      1      1    7.8542        S  NaN
176         0       3  male    NaN      3      1   25.4667        S  NaN
178         0       2  male  30.00      0      0   13.0000        S  NaN
179         0       3  male  36.00      0      0    0.0000        S  NaN
181         0       2  male    NaN      0      0   15.0500        C  NaN
182         0       3  male   9.00      4      2   31.3875        S  NaN
183         1       2  male   1.00      2      1   39.0000        S    F
185         0       1  male    NaN      0      0   50.0000        S    A
187         1       1  male  45.00      0      0   26.5500        S  NaN
188         0       3  male  40.00      1      1   15.5000        Q  NaN
189         0       3  male  36.00      0      0    7.8958        S  NaN
191         0       2  male  19.00      0      0   13.0000        S  NaN
193         1       2  male   3.00      1      1   26.0000        S    F
196         0       3  male    NaN      0      0    7.7500        Q  NaN
197         0       3  male  42.00      0      1    8.4042        S  NaN
200         0       3  male  28.00      0      0    9.5000        S  NaN
201         0       3  male    NaN      8      2   69.5500        S  NaN
202         0       3  male  34.00      0      0    6.4958        S  NaN
203         0       3  male  45.50      0      0    7.2250        C  NaN
204         1       3  male  18.00      0      0    8.0500        S  NaN
206         0       3  male  32.00      1      0   15.8500        S  NaN
207         1       3  male  26.00      0      0   18.7875        C  NaN
209         1       1  male  40.00      0      0   31.0000        C    A
210         0       3  male  24.00      0      0    7.0500        S  NaN
212         0       3  male  22.00      0      0    7.2500        S  NaN
213         0       2  male  30.00      0      0   13.0000        S  NaN
214         0       3  male    NaN      1      0    7.7500        Q  NaN
217         0       2  male  42.00      1      0   27.0000        S  NaN
219         0       2  male  30.00      0      0   10.5000        S  NaN
220         1       3  male  16.00      0      0    8.0500        S  NaN
221         0       2  male  27.00      0      0   13.0000        S  NaN
222         0       3  male  51.00      0      0    8.0500        S  NaN
223         0       3  male    NaN      0      0    7.8958        S  NaN
224         1       1  male  38.00      1      0   90.0000        S    C
225         0       3  male  22.00      0      0    9.3500        S  NaN
226         1       2  male  19.00      0      0   10.5000        S  NaN
227         0       3  male  20.50      0      0    7.2500        S  NaN
228         0       2  male  18.00      0      0   13.0000        S  NaN
231         0       3  male  29.00      0      0    7.7750        S  NaN
232         0       2  male  59.00      0      0   13.5000        S  NaN
234         0       2  male  24.00      0      0   10.5000        S  NaN
236         0       2  male  44.00      1      0   26.0000        S  NaN
238         0       2  male  19.00      0      0   10.5000        S  NaN
239         0       2  male  33.00      0      0   12.2750        S  NaN
242         0       2  male  29.00      0      0   10.5000        S  NaN
243         0       3  male  22.00      0      0    7.1250        S  NaN
244         0       3  male  30.00      0      0    7.2250        C  NaN
245         0       1  male  44.00      2      0   90.0000        Q    C
248         1       1  male  37.00      1      1   52.5542        S    D
249         0       2  male  54.00      1      0   26.0000        S  NaN
250         0       3  male    NaN      0      0    7.2500        S  NaN
252         0       1  male  62.00      0      0   26.5500        S    C
253         0       3  male  30.00      1      0   16.1000        S  NaN
260         0       3  male    NaN      0      0    7.7500        Q  NaN
261         1       3  male   3.00      4      2   31.3875        S  NaN
262         0       1  male  52.00      1      1   79.6500        S    E
263         0       1  male  40.00      0      0    0.0000        S    B
265         0       2  male  36.00      0      0   10.5000        S  NaN
266         0       3  male  16.00      4      1   39.6875        S  NaN
267         1       3  male  25.00      1      0    7.7750        S  NaN
270         0       1  male    NaN      0      0   31.0000        S  NaN
271         1       3  male  25.00      0      0    0.0000        S  NaN
273         0       1  male  37.00      0      1   29.7000        C    C
277         0       2  male    NaN      0      0    0.0000        S  NaN
278         0       3  male   7.00      4      1   29.1250        Q  NaN
280         0       3  male  65.00      0      0    7.7500        Q  NaN
281         0       3  male  28.00      0      0    7.8542        S  NaN
282         0       3  male  16.00      0      0    9.5000        S  NaN
283         1       3  male  19.00      0      0    8.0500        S  NaN
284         0       1  male    NaN      0      0   26.0000        S    A
285         0       3  male  33.00      0      0    8.6625        C  NaN
286         1       3  male  30.00      0      0    9.5000        S  NaN
287         0       3  male  22.00      0      0    7.8958        S  NaN
288         1       2  male  42.00      0      0   13.0000        S  NaN
292         0       2  male  36.00      0      0   12.8750        C    D
294         0       3  male  24.00      0      0    7.8958        S  NaN
295         0       1  male    NaN      0      0   27.7208        C  NaN
296         0       3  male  23.50      0      0    7.2292        C  NaN
298         1       1  male    NaN      0      0   30.5000        S    C
301         1       3  male    NaN      2      0   23.2500        Q  NaN
302         0       3  male  19.00      0      0    0.0000        S  NaN
304         0       3  male    NaN      0      0    8.0500        S  NaN
305         1       1  male   0.92      1      2  151.5500        S    C
308         0       2  male  30.00      1      0   24.0000        C  NaN
313         0       3  male  28.00      0      0    7.8958        S  NaN
314         0       2  male  43.00      1      1   26.2500        S  NaN
317         0       2  male  54.00      0      0   14.0000        S  NaN
320         0       3  male  22.00      0      0    7.2500        S  NaN
321         0       3  male  27.00      0      0    7.8958        S  NaN
324         0       3  male    NaN      8      2   69.5500        S  NaN
326         0       3  male  61.00      0      0    6.2375        S  NaN
331         0       1  male  45.50      0      0   28.5000        S    C
332         0       1  male  38.00      0      1  153.4625        S    C
333         0       3  male  16.00      2      0   18.0000        S  NaN
335         0       3  male    NaN      0      0    7.8958        S  NaN
336         0       1  male  29.00      1      0   66.6000        S    C
338         1       3  male  45.00      0      0    8.0500        S  NaN
339         0       1  male  45.00      0      0   35.5000        S  NaN
340         1       2  male   2.00      1      1   26.0000        S    F
342         0       2  male  28.00      0      0   13.0000        S  NaN
343         0       2  male  25.00      0      0   13.0000        S  NaN
344         0       2  male  36.00      0      0   13.0000        S  NaN
348         1       3  male   3.00      1      1   15.9000        S  NaN
349         0       3  male  42.00      0      0    8.6625        S  NaN
350         0       3  male  23.00      0      0    9.2250        S  NaN
351         0       1  male    NaN      0      0   35.0000        S    C
352         0       3  male  15.00      1      1    7.2292        C  NaN
353         0       3  male  25.00      1      0   17.8000        S  NaN
354         0       3  male    NaN      0      0    7.2250        C  NaN
355         0       3  male  28.00      0      0    9.5000        S  NaN
360         0       3  male  40.00      1      4   27.9000        S  NaN
361         0       2  male  29.00      1      0   27.7208        C  NaN
363         0       3  male  35.00      0      0    7.0500        S  NaN
364         0       3  male    NaN      1      0   15.5000        Q  NaN
365         0       3  male  30.00      0      0    7.2500        S  NaN
370         1       1  male  25.00      1      0   55.4417        C    E
371         0       3  male  18.00      1      0    6.4958        S  NaN
372         0       3  male  19.00      0      0    8.0500        S  NaN
373         0       1  male  22.00      0      0  135.6333        C  NaN
377         0       1  male  27.00      0      2  211.5000        C    C
378         0       3  male  20.00      0      0    4.0125        C  NaN
379         0       3  male  19.00      0      0    7.7750        S  NaN
382         0       3  male  32.00      0      0    7.9250        S  NaN
384         0       3  male    NaN      0      0    7.8958        S  NaN
385         0       2  male  18.00      0      0   73.5000        S  NaN
386         0       3  male   1.00      5      2   46.9000        S  NaN
388         0       3  male    NaN      0      0    7.7292        Q  NaN
390         1       1  male  36.00      1      2  120.0000        S    B
391         1       3  male  21.00      0      0    7.7958        S  NaN
392         0       3  male  28.00      2      0    7.9250        S  NaN
395         0       3  male  22.00      0      0    7.7958        S  NaN
397         0       2  male  46.00      0      0   26.0000        S  NaN
398         0       2  male  23.00      0      0   10.5000        S  NaN
400         1       3  male  39.00      0      0    7.9250        S  NaN
401         0       3  male  26.00      0      0    8.0500        S  NaN
403         0       3  male  28.00      1      0   15.8500        S  NaN
405         0       2  male  34.00      1      0   21.0000        S  NaN
406         0       3  male  51.00      0      0    7.7500        S  NaN
407         1       2  male   3.00      1      1   18.7500        S  NaN
408         0       3  male  21.00      0      0    7.7750        S  NaN
410         0       3  male    NaN      0      0    7.8958        S  NaN
411         0       3  male    NaN      0      0    6.8583        Q  NaN
413         0       2  male    NaN      0      0    0.0000        S  NaN
414         1       3  male  44.00      0      0    7.9250        S  NaN
418         0       2  male  30.00      0      0   13.0000        S  NaN
420         0       3  male    NaN      0      0    7.8958        C  NaN
421         0       3  male  21.00      0      0    7.7333        Q  NaN
422         0       3  male  29.00      0      0    7.8750        S  NaN
424         0       3  male  18.00      1      1   20.2125        S  NaN
425         0       3  male    NaN      0      0    7.2500        S  NaN
428         0       3  male    NaN      0      0    7.7500        Q  NaN
429         1       3  male  32.00      0      0    8.0500        S    E
430         1       1  male  28.00      0      0   26.5500        S    C
433         0       3  male  17.00      0      0    7.1250        S  NaN
434         0       1  male  50.00      1      0   55.9000        S    E
438         0       1  male  64.00      1      4  263.0000        S    C
439         0       2  male  31.00      0      0   10.5000        S  NaN
441         0       3  male  20.00      0      0    9.5000        S  NaN

In [18]:
titanic.loc[titanic['sex'] == 'male']

     survived  pclass   sex    age  sibsp  parch      fare embarked deck
0           0       3  male  22.00      1      0    7.2500        S  NaN
4           0       3  male  35.00      0      0    8.0500        S  NaN
5           0       3  male    NaN      0      0    8.4583        Q  NaN
6           0       1  male  54.00      0      0   51.8625        S    E
7           0       3  male   2.00      3      1   21.0750        S  NaN
12          0       3  male  20.00      0      0    8.0500        S  NaN
13          0       3  male  39.00      1      5   31.2750        S  NaN
16          0       3  male   2.00      4      1   29.1250        Q  NaN
17          1       2  male    NaN      0      0   13.0000        S  NaN
20          0       2  male  35.00      0      0   26.0000        S  NaN
21          1       2  male  34.00      0      0   13.0000        S    D
23          1       1  male  28.00      0      0   35.5000        S    A
26          0       3  male    NaN      0      0    7.2250        C  NaN
27          0       1  male  19.00      3      2  263.0000        S    C
29          0       3  male    NaN      0      0    7.8958        S  NaN
30          0       1  male  40.00      0      0   27.7208        C  NaN
33          0       2  male  66.00      0      0   10.5000        S  NaN
34          0       1  male  28.00      1      0   82.1708        C  NaN
35          0       1  male  42.00      1      0   52.0000        S  NaN
36          1       3  male    NaN      0      0    7.2292        C  NaN
37          0       3  male  21.00      0      0    8.0500        S  NaN
42          0       3  male    NaN      0      0    7.8958        C  NaN
45          0       3  male    NaN      0      0    8.0500        S  NaN
46          0       3  male    NaN      1      0   15.5000        Q  NaN
48          0       3  male    NaN      2      0   21.6792        C  NaN
50          0       3  male   7.00      4      1   39.6875        S  NaN
51          0       3  male  21.00      0      0    7.8000        S  NaN
54          0       1  male  65.00      0      1   61.9792        C    B
55          1       1  male    NaN      0      0   35.5000        S    C
57          0       3  male  28.50      0      0    7.2292        C  NaN
59          0       3  male  11.00      5      2   46.9000        S  NaN
60          0       3  male  22.00      0      0    7.2292        C  NaN
62          0       1  male  45.00      1      0   83.4750        S    C
63          0       3  male   4.00      3      2   27.9000        S  NaN
64          0       1  male    NaN      0      0   27.7208        C  NaN
65          1       3  male    NaN      1      1   15.2458        C  NaN
67          0       3  male  19.00      0      0    8.1583        S  NaN
69          0       3  male  26.00      2      0    8.6625        S  NaN
70          0       2  male  32.00      0      0   10.5000        S  NaN
72          0       2  male  21.00      0      0   73.5000        S  NaN
73          0       3  male  26.00      1      0   14.4542        C  NaN
74          1       3  male  32.00      0      0   56.4958        S  NaN
75          0       3  male  25.00      0      0    7.6500        S    F
76          0       3  male    NaN      0      0    7.8958        S  NaN
77          0       3  male    NaN      0      0    8.0500        S  NaN
78          1       2  male   0.83      0      2   29.0000        S  NaN
80          0       3  male  22.00      0      0    9.0000        S  NaN
81          1       3  male  29.00      0      0    9.5000        S  NaN
83          0       1  male  28.00      0      0   47.1000        S  NaN
86          0       3  male  16.00      1      3   34.3750        S  NaN
87          0       3  male    NaN      0      0    8.0500        S  NaN
89          0       3  male  24.00      0      0    8.0500        S  NaN
90          0       3  male  29.00      0      0    8.0500        S  NaN
91          0       3  male  20.00      0      0    7.8542        S  NaN
92          0       1  male  46.00      1      0   61.1750        S    E
93          0       3  male  26.00      1      2   20.5750        S  NaN
94          0       3  male  59.00      0      0    7.2500        S  NaN
95          0       3  male    NaN      0      0    8.0500        S  NaN
96          0       1  male  71.00      0      0   34.6542        C    A
97          1       1  male  23.00      0      1   63.3583        C    D
99          0       2  male  34.00      1      0   26.0000        S  NaN
101         0       3  male    NaN      0      0    7.8958        S  NaN
102         0       1  male  21.00      0      1   77.2875        S    D
103         0       3  male  33.00      0      0    8.6542        S  NaN
104         0       3  male  37.00      2      0    7.9250        S  NaN
105         0       3  male  28.00      0      0    7.8958        S  NaN
107         1       3  male    NaN      0      0    7.7750        S  NaN
108         0       3  male  38.00      0      0    7.8958        S  NaN
110         0       1  male  47.00      0      0   52.0000        S    C
112         0       3  male  22.00      0      0    8.0500        S  NaN
115         0       3  male  21.00      0      0    7.9250        S  NaN
116         0       3  male  70.50      0      0    7.7500        Q  NaN
117         0       2  male  29.00      1      0   21.0000        S  NaN
118         0       1  male  24.00      0      1  247.5208        C    B
120         0       2  male  21.00      2      0   73.5000        S  NaN
121         0       3  male    NaN      0      0    8.0500        S  NaN
122         0       2  male  32.50      1      0   30.0708        C  NaN
124         0       1  male  54.00      0      1   77.2875        S    D
125         1       3  male  12.00      1      0   11.2417        C  NaN
126         0       3  male    NaN      0      0    7.7500        Q  NaN
127         1       3  male  24.00      0      0    7.1417        S  NaN
129         0       3  male  45.00      0      0    6.9750        S  NaN
130         0       3  male  33.00      0      0    7.8958        C  NaN
131         0       3  male  20.00      0      0    7.0500        S  NaN
134         0       2  male  25.00      0      0   13.0000        S  NaN
135         0       2  male  23.00      0      0   15.0458        C  NaN
137         0       1  male  37.00      1      0   53.1000        S    C
138         0       3  male  16.00      0      0    9.2167        S  NaN
139         0       1  male  24.00      0      0   79.2000        C    B
143         0       3  male  19.00      0      0    6.7500        Q  NaN
144         0       2  male  18.00      0      0   11.5000        S  NaN
145         0       2  male  19.00      1      1   36.7500        S  NaN
146         1       3  male  27.00      0      0    7.7958        S  NaN
148         0       2  male  36.50      0      2   26.0000        S    F
149         0       2  male  42.00      0      0   13.0000        S  NaN
150         0       2  male  51.00      0      0   12.5250        S  NaN
152         0       3  male  55.50      0      0    8.0500        S  NaN
153         0       3  male  40.50      0      2   14.5000        S  NaN
154         0       3  male    NaN      0      0    7.3125        S  NaN
155         0       1  male  51.00      0      1   61.3792        C  NaN
157         0       3  male  30.00      0      0    8.0500        S  NaN
158         0       3  male    NaN      0      0    8.6625        S  NaN
159         0       3  male    NaN      8      2   69.5500        S  NaN
160         0       3  male  44.00      0      1   16.1000        S  NaN
162         0       3  male  26.00      0      0    7.7750        S  NaN
163         0       3  male  17.00      0      0    8.6625        S  NaN
164         0       3  male   1.00      4      1   39.6875        S  NaN
165         1       3  male   9.00      0      2   20.5250        S  NaN
168         0       1  male    NaN      0      0   25.9250        S  NaN
169         0       3  male  28.00      0      0   56.4958        S  NaN
170         0       1  male  61.00      0      0   33.5000        S    B
171         0       3  male   4.00      4      1   29.1250        Q  NaN
173         0       3  male  21.00      0      0    7.9250        S  NaN
174         0       1  male  56.00      0      0   30.6958        C    A
175         0       3  male  18.00      1      1    7.8542        S  NaN
176         0       3  male    NaN      3      1   25.4667        S  NaN
178         0       2  male  30.00      0      0   13.0000        S  NaN
179         0       3  male  36.00      0      0    0.0000        S  NaN
181         0       2  male    NaN      0      0   15.0500        C  NaN
182         0       3  male   9.00      4      2   31.3875        S  NaN
183         1       2  male   1.00      2      1   39.0000        S    F
185         0       1  male    NaN      0      0   50.0000        S    A
187         1       1  male  45.00      0      0   26.5500        S  NaN
188         0       3  male  40.00      1      1   15.5000        Q  NaN
189         0       3  male  36.00      0      0    7.8958        S  NaN
191         0       2  male  19.00      0      0   13.0000        S  NaN
193         1       2  male   3.00      1      1   26.0000        S    F
196         0       3  male    NaN      0      0    7.7500        Q  NaN
197         0       3  male  42.00      0      1    8.4042        S  NaN
200         0       3  male  28.00      0      0    9.5000        S  NaN
201         0       3  male    NaN      8      2   69.5500        S  NaN
202         0       3  male  34.00      0      0    6.4958        S  NaN
203         0       3  male  45.50      0      0    7.2250        C  NaN
204         1       3  male  18.00      0      0    8.0500        S  NaN
206         0       3  male  32.00      1      0   15.8500        S  NaN
207         1       3  male  26.00      0      0   18.7875        C  NaN
209         1       1  male  40.00      0      0   31.0000        C    A
210         0       3  male  24.00      0      0    7.0500        S  NaN
212         0       3  male  22.00      0      0    7.2500        S  NaN
213         0       2  male  30.00      0      0   13.0000        S  NaN
214         0       3  male    NaN      1      0    7.7500        Q  NaN
217         0       2  male  42.00      1      0   27.0000        S  NaN
219         0       2  male  30.00      0      0   10.5000        S  NaN
220         1       3  male  16.00      0      0    8.0500        S  NaN
221         0       2  male  27.00      0      0   13.0000        S  NaN
222         0       3  male  51.00      0      0    8.0500        S  NaN
223         0       3  male    NaN      0      0    7.8958        S  NaN
224         1       1  male  38.00      1      0   90.0000        S    C
225         0       3  male  22.00      0      0    9.3500        S  NaN
226         1       2  male  19.00      0      0   10.5000        S  NaN
227         0       3  male  20.50      0      0    7.2500        S  NaN
228         0       2  male  18.00      0      0   13.0000        S  NaN
231         0       3  male  29.00      0      0    7.7750        S  NaN
232         0       2  male  59.00      0      0   13.5000        S  NaN
234         0       2  male  24.00      0      0   10.5000        S  NaN
236         0       2  male  44.00      1      0   26.0000        S  NaN
238         0       2  male  19.00      0      0   10.5000        S  NaN
239         0       2  male  33.00      0      0   12.2750        S  NaN
242         0       2  male  29.00      0      0   10.5000        S  NaN
243         0       3  male  22.00      0      0    7.1250        S  NaN
244         0       3  male  30.00      0      0    7.2250        C  NaN
245         0       1  male  44.00      2      0   90.0000        Q    C
248         1       1  male  37.00      1      1   52.5542        S    D
249         0       2  male  54.00      1      0   26.0000        S  NaN
250         0       3  male    NaN      0      0    7.2500        S  NaN
252         0       1  male  62.00      0      0   26.5500        S    C
253         0       3  male  30.00      1      0   16.1000        S  NaN
260         0       3  male    NaN      0      0    7.7500        Q  NaN
261         1       3  male   3.00      4      2   31.3875        S  NaN
262         0       1  male  52.00      1      1   79.6500        S    E
263         0       1  male  40.00      0      0    0.0000        S    B
265         0       2  male  36.00      0      0   10.5000        S  NaN
266         0       3  male  16.00      4      1   39.6875        S  NaN
267         1       3  male  25.00      1      0    7.7750        S  NaN
270         0       1  male    NaN      0      0   31.0000        S  NaN
271         1       3  male  25.00      0      0    0.0000        S  NaN
273         0       1  male  37.00      0      1   29.7000        C    C
277         0       2  male    NaN      0      0    0.0000        S  NaN
278         0       3  male   7.00      4      1   29.1250        Q  NaN
280         0       3  male  65.00      0      0    7.7500        Q  NaN
281         0       3  male  28.00      0      0    7.8542        S  NaN
282         0       3  male  16.00      0      0    9.5000        S  NaN
283         1       3  male  19.00      0      0    8.0500        S  NaN
284         0       1  male    NaN      0      0   26.0000        S    A
285         0       3  male  33.00      0      0    8.6625        C  NaN
286         1       3  male  30.00      0      0    9.5000        S  NaN
287         0       3  male  22.00      0      0    7.8958        S  NaN
288         1       2  male  42.00      0      0   13.0000        S  NaN
292         0       2  male  36.00      0      0   12.8750        C    D
294         0       3  male  24.00      0      0    7.8958        S  NaN
295         0       1  male    NaN      0      0   27.7208        C  NaN
296         0       3  male  23.50      0      0    7.2292        C  NaN
298         1       1  male    NaN      0      0   30.5000        S    C
301         1       3  male    NaN      2      0   23.2500        Q  NaN
302         0       3  male  19.00      0      0    0.0000        S  NaN
304         0       3  male    NaN      0      0    8.0500        S  NaN
305         1       1  male   0.92      1      2  151.5500        S    C
308         0       2  male  30.00      1      0   24.0000        C  NaN
313         0       3  male  28.00      0      0    7.8958        S  NaN
314         0       2  male  43.00      1      1   26.2500        S  NaN
317         0       2  male  54.00      0      0   14.0000        S  NaN
320         0       3  male  22.00      0      0    7.2500        S  NaN
321         0       3  male  27.00      0      0    7.8958        S  NaN
324         0       3  male    NaN      8      2   69.5500        S  NaN
326         0       3  male  61.00      0      0    6.2375        S  NaN
331         0       1  male  45.50      0      0   28.5000        S    C
332         0       1  male  38.00      0      1  153.4625        S    C
333         0       3  male  16.00      2      0   18.0000        S  NaN
335         0       3  male    NaN      0      0    7.8958        S  NaN
336         0       1  male  29.00      1      0   66.6000        S    C
338         1       3  male  45.00      0      0    8.0500        S  NaN
339         0       1  male  45.00      0      0   35.5000        S  NaN
340         1       2  male   2.00      1      1   26.0000        S    F
342         0       2  male  28.00      0      0   13.0000        S  NaN
343         0       2  male  25.00      0      0   13.0000        S  NaN
344         0       2  male  36.00      0      0   13.0000        S  NaN
348         1       3  male   3.00      1      1   15.9000        S  NaN
349         0       3  male  42.00      0      0    8.6625        S  NaN
350         0       3  male  23.00      0      0    9.2250        S  NaN
351         0       1  male    NaN      0      0   35.0000        S    C
352         0       3  male  15.00      1      1    7.2292        C  NaN
353         0       3  male  25.00      1      0   17.8000        S  NaN
354         0       3  male    NaN      0      0    7.2250        C  NaN
355         0       3  male  28.00      0      0    9.5000        S  NaN
360         0       3  male  40.00      1      4   27.9000        S  NaN
361         0       2  male  29.00      1      0   27.7208        C  NaN
363         0       3  male  35.00      0      0    7.0500        S  NaN
364         0       3  male    NaN      1      0   15.5000        Q  NaN
365         0       3  male  30.00      0      0    7.2500        S  NaN
370         1       1  male  25.00      1      0   55.4417        C    E
371         0       3  male  18.00      1      0    6.4958        S  NaN
372         0       3  male  19.00      0      0    8.0500        S  NaN
373         0       1  male  22.00      0      0  135.6333        C  NaN
377         0       1  male  27.00      0      2  211.5000        C    C
378         0       3  male  20.00      0      0    4.0125        C  NaN
379         0       3  male  19.00      0      0    7.7750        S  NaN
382         0       3  male  32.00      0      0    7.9250        S  NaN
384         0       3  male    NaN      0      0    7.8958        S  NaN
385         0       2  male  18.00      0      0   73.5000        S  NaN
386         0       3  male   1.00      5      2   46.9000        S  NaN
388         0       3  male    NaN      0      0    7.7292        Q  NaN
390         1       1  male  36.00      1      2  120.0000        S    B
391         1       3  male  21.00      0      0    7.7958        S  NaN
392         0       3  male  28.00      2      0    7.9250        S  NaN
395         0       3  male  22.00      0      0    7.7958        S  NaN
397         0       2  male  46.00      0      0   26.0000        S  NaN
398         0       2  male  23.00      0      0   10.5000        S  NaN
400         1       3  male  39.00      0      0    7.9250        S  NaN
401         0       3  male  26.00      0      0    8.0500        S  NaN
403         0       3  male  28.00      1      0   15.8500        S  NaN
405         0       2  male  34.00      1      0   21.0000        S  NaN
406         0       3  male  51.00      0      0    7.7500        S  NaN
407         1       2  male   3.00      1      1   18.7500        S  NaN
408         0       3  male  21.00      0      0    7.7750        S  NaN
410         0       3  male    NaN      0      0    7.8958        S  NaN
411         0       3  male    NaN      0      0    6.8583        Q  NaN
413         0       2  male    NaN      0      0    0.0000        S  NaN
414         1       3  male  44.00      0      0    7.9250        S  NaN
418         0       2  male  30.00      0      0   13.0000        S  NaN
420         0       3  male    NaN      0      0    7.8958        C  NaN
421         0       3  male  21.00      0      0    7.7333        Q  NaN
422         0       3  male  29.00      0      0    7.8750        S  NaN
424         0       3  male  18.00      1      1   20.2125        S  NaN
425         0       3  male    NaN      0      0    7.2500        S  NaN
428         0       3  male    NaN      0      0    7.7500        Q  NaN
429         1       3  male  32.00      0      0    8.0500        S    E
430         1       1  male  28.00      0      0   26.5500        S    C
433         0       3  male  17.00      0      0    7.1250        S  NaN
434         0       1  male  50.00      1      0   55.9000        S    E
438         0       1  male  64.00      1      4  263.0000        S    C
439         0       2  male  31.00      0      0   10.5000        S  NaN
441         0       3  male  20.00      0      0    9.5000        S  NaN

In [19]:
titanic.loc[titanic['sex'] == 'male', 'fare']

0        7.2500
4        8.0500
5        8.4583
6       51.8625
7       21.0750
12       8.0500
13      31.2750
16      29.1250
17      13.0000
20      26.0000
21      13.0000
23      35.5000
26       7.2250
27     263.0000
29       7.8958
30      27.7208
33      10.5000
34      82.1708
35      52.0000
36       7.2292
37       8.0500
42       7.8958
45       8.0500
46      15.5000
48      21.6792
50      39.6875
51       7.8000
54      61.9792
55      35.5000
57       7.2292
59      46.9000
60       7.2292
62      83.4750
63      27.9000
64      27.7208
65      15.2458
67       8.1583
69       8.6625
70      10.5000
72      73.5000
73      14.4542
74      56.4958
75       7.6500
76       7.8958
77       8.0500
78      29.0000
80       9.0000
81       9.5000
83      47.1000
86      34.3750
87       8.0500
89       8.0500
90       8.0500
91       7.8542
92      61.1750
93      20.5750
94       7.2500
95       8.0500
96      34.6542
97      63.3583
99      26.0000
101      7.8958
102     77.2875
103      8.6542
104      7.9250
105      7.8958
107      7.7750
108      7.8958
110     52.0000
112      8.0500
115      7.9250
116      7.7500
117     21.0000
118    247.5208
120     73.5000
121      8.0500
122     30.0708
124     77.2875
125     11.2417
126      7.7500
127      7.1417
129      6.9750
130      7.8958
131      7.0500
134     13.0000
135     15.0458
137     53.1000
138      9.2167
139     79.2000
143      6.7500
144     11.5000
145     36.7500
146      7.7958
148     26.0000
149     13.0000
150     12.5250
152      8.0500
153     14.5000
154      7.3125
155     61.3792
157      8.0500
158      8.6625
159     69.5500
160     16.1000
162      7.7750
163      8.6625
164     39.6875
165     20.5250
168     25.9250
169     56.4958
170     33.5000
171     29.1250
173      7.9250
174     30.6958
175      7.8542
176     25.4667
178     13.0000
179      0.0000
181     15.0500
182     31.3875
183     39.0000
185     50.0000
187     26.5500
188     15.5000
189      7.8958
191     13.0000
193     26.0000
196      7.7500
197      8.4042
200      9.5000
201     69.5500
202      6.4958
203      7.2250
204      8.0500
206     15.8500
207     18.7875
209     31.0000
210      7.0500
212      7.2500
213     13.0000
214      7.7500
217     27.0000
219     10.5000
220      8.0500
221     13.0000
222      8.0500
223      7.8958
224     90.0000
225      9.3500
226     10.5000
227      7.2500
228     13.0000
231      7.7750
232     13.5000
234     10.5000
236     26.0000
238     10.5000
239     12.2750
242     10.5000
243      7.1250
244      7.2250
245     90.0000
248     52.5542
249     26.0000
250      7.2500
252     26.5500
253     16.1000
260      7.7500
261     31.3875
262     79.6500
263      0.0000
265     10.5000
266     39.6875
267      7.7750
270     31.0000
271      0.0000
273     29.7000
277      0.0000
278     29.1250
280      7.7500
281      7.8542
282      9.5000
283      8.0500
284     26.0000
285      8.6625
286      9.5000
287      7.8958
288     13.0000
292     12.8750
294      7.8958
295     27.7208
296      7.2292
298     30.5000
301     23.2500
302      0.0000
304      8.0500
305    151.5500
308     24.0000
313      7.8958
314     26.2500
317     14.0000
320      7.2500
321      7.8958
324     69.5500
326      6.2375
331     28.5000
332    153.4625
333     18.0000
335      7.8958
336     66.6000
338      8.0500
339     35.5000
340     26.0000
342     13.0000
343     13.0000
344     13.0000
348     15.9000
349      8.6625
350      9.2250
351     35.0000
352      7.2292
353     17.8000
354      7.2250
355      9.5000
360     27.9000
361     27.7208
363      7.0500
364     15.5000
365      7.2500
370     55.4417
371      6.4958
372      8.0500
373    135.6333
377    211.5000
378      4.0125
379      7.7750
382      7.9250
384      7.8958
385     73.5000
386     46.9000
388      7.7292
390    120.0000
391      7.7958
392      7.9250
395      7.7958
397     26.0000
398     10.5000
400      7.9250
401      8.0500
403     15.8500
405     21.0000
406      7.7500
407     18.7500
408      7.7750
410      7.8958
411      6.8583
413      0.0000
414      7.9250
418     13.0000
420      7.8958
421      7.7333
422      7.8750
424     20.2125
425      7.2500
428      7.7500
429      8.0500
430     26.5500
433      7.1250
434     55.9000
438    263.0000
439     10.5000
441      9.5000
442      7.7750
444      8.1125
445     81.8583
447     26.5500
449     30.5000
450     27.7500
451     19.9667
452     27.7500
453     89.1042
454      8.0500
455      7.8958
456     26.5500
459      7.7500
460     26.5500
461      8.0500
462     38.5000
463     13.0000
464      8.0500
465      7.0500
466      0.0000
467     26.5500
468      7.7250
470      7.2500
471      8.6625
475     52.0000
476     21.0000
477      7.0458
478      7.5208
480     46.9000
481      0.0000
482      8.0500
484     91.0792
487     29.7000
488      8.0500
489     15.9000
490     19.9667
491      7.2500
492     30.5000
493     49.5042
494      8.0500
495     14.4583
497     15.1000
499      7.7958
500      8.6625
505    108.9000
507     26.5500
508     22.5250
509     56.4958
510      7.7500
511      8.0500
512     26.2875
514      7.4958
515     34.0208
517     24.1500
519      7.8958
521      7.8958
522      7.2250
524      7.2292
525      7.7500
527    221.7792
528      7.9250
529     11.5000
531      7.2292
532      7.2292
536     26.5500
538     14.5000
543     26.0000
544    106.4250
545     26.0000
547     13.8625
548     20.5250
549     36.7500
550    110.8833
551     26.0000
552      7.8292
553      7.2250
555     26.5500
557    227.5250
560      7.7500
561      7.8958
562     13.5000
563      8.0500
565     24.1500
566      7.8958
568      7.2292
569      7.8542
570     10.5000
572     26.3875
574      8.0500
575     14.5000
579      7.9250
582     26.0000
583     40.1250
584      8.7125
586     15.0000
587     79.2000
588      8.0500
589      8.0500
590      7.1250
592      7.2500
594     26.0000
595     24.1500
597      0.0000
598      7.2250
599     56.9292
601      7.8958
602     42.4000
603      8.0500
604     26.5500
605     15.5500
606      7.8958
607     30.5000
611      7.0500
613      7.7500
614      8.0500
616     14.4000
619     10.5000
620     14.4542
621     52.5542
622     15.7417
623      7.8542
624     16.1000
625     32.3208
626     12.3500
628      7.8958
629      7.7333
630     30.0000
631      7.0542
632     30.5000
633      0.0000
636      7.9250
637     26.2500
639     16.1000
640      7.8542
643     56.4958
645     76.7292
646      7.8958
647     35.5000
648      7.5500
650      7.8958
652      8.4333
655     73.5000
656      7.8958
658     13.0000
659    113.2750
660    133.6500
661      7.2250
662     25.5875
663      7.4958
664      7.9250
665     73.5000
666     13.0000
667      7.7750
668      8.0500
671     52.0000
672     10.5000
673     13.0000
674      0.0000
675      7.7750
676      8.0500
679    512.3292
681     76.7292
682      9.2250
683     46.9000
684     39.0000
685     41.5792
686     39.6875
687     10.1708
688      7.7958
690     57.0000
692     56.4958
693      7.2250
694     26.5500
695     13.5000
696      8.0500
698    110.8833
699      7.6500
701     26.2875
703      7.7417
704      7.8542
705     26.0000
707     26.2875
709     15.2458
711     26.5500
712     52.0000
713      9.4833
714     13.0000
715      7.6500
718     15.5000
719      7.7750
721      7.0542
722     13.0000
723     13.0000
724     53.1000
725      8.6625
728     26.0000
731     18.7875
732      0.0000
733     13.0000
734     13.0000
735     16.1000
737    512.3292
738      7.8958
739      7.8958
740     30.0000
741     78.8500
743     16.1000
744      7.9250
745     71.0000
746     20.2500
748     53.1000
749      7.7500
751     12.4750
752      9.5000
753      7.8958
755     14.5000
756      7.7958
757     11.5000
758      8.0500
760     14.5000
761      7.1250
762      7.2292
764      7.7750
766     39.6000
768     24.1500
769      8.3625
770      9.5000
771      7.8542
773      7.2250
775      7.7500
776      7.7500
778      7.7375
782     30.0000
783     23.4500
784      7.0500
785      7.2500
787     29.1250
788     20.5750
789     79.2000
790      7.7500
791     26.0000
793     30.6958
794      7.8958
795     13.0000
798      7.2292
800     13.0000
802    120.0000
803      8.5167
804      6.9750
805      7.7750
806      0.0000
808     13.0000
810      7.8875
811     24.1500
812     10.5000
814      8.0500
815      0.0000
817     37.0042
818      6.4500
819     27.9000
821      8.6625
822      0.0000
824     39.6875
825      6.9500
826     56.4958
827     37.0042
828      7.7500
831     18.7500
832      7.2292
833      7.8542
834      8.3000
836      8.6625
837      8.0500
838     56.4958
839     29.7000
840      7.9250
841     10.5000
843      6.4375
844      8.6625
845      7.5500
846     69.5500
847      7.8958
848     33.0000
850     31.2750
851      7.7750
857     26.5500
859      7.2292
860     14.1083
861     11.5000
864     13.0000
867     50.4958
868      9.5000
869     11.1333
870      7.8958
872      5.0000
873      9.0000
876      9.8458
877      7.8958
878      7.8958
881      7.8958
883     10.5000
884      7.0500
886     13.0000
889     30.0000
890      7.7500
Name: fare, dtype: float64

In [20]:
# For readability can do the following:

mask1 = titanic['sex'] == 'male'
mask1

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
30      True
31     False
32     False
33      True
34      True
35      True
36      True
37      True
38     False
39     False
40     False
41     False
42      True
43     False
44     False
45      True
46      True
47     False
48      True
49     False
50      True
51      True
52     False
53     False
54      True
55      True
56     False
57      True
58     False
59      True
60      True
61     False
62      True
63      True
64      True
65      True
66     False
67      True
68     False
69      True
70      True
71     False
72      True
73      True
74      True
75      True
76      True
77      True
78      True
79     False
80      True
81      True
82     False
83      True
84     False
85     False
86      True
87      True
88     False
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96      True
97      True
98     False
99      True
100    False
101     True
102     True
103     True
104     True
105     True
106    False
107     True
108     True
109    False
110     True
111    False
112     True
113    False
114    False
115     True
116     True
117     True
118     True
119    False
120     True
121     True
122     True
123    False
124     True
125     True
126     True
127     True
128    False
129     True
130     True
131     True
132    False
133    False
134     True
135     True
136    False
137     True
138     True
139     True
140    False
141    False
142    False
143     True
144     True
145     True
146     True
147    False
148     True
149     True
150     True
151    False
152     True
153     True
154     True
155     True
156    False
157     True
158     True
159     True
160     True
161    False
162     True
163     True
164     True
165     True
166    False
167    False
168     True
169     True
170     True
171     True
172    False
173     True
174     True
175     True
176     True
177    False
178     True
179     True
180    False
181     True
182     True
183     True
184    False
185     True
186    False
187     True
188     True
189     True
190    False
191     True
192    False
193     True
194    False
195    False
196     True
197     True
198    False
199    False
200     True
201     True
202     True
203     True
204     True
205    False
206     True
207     True
208    False
209     True
210     True
211    False
212     True
213     True
214     True
215    False
216    False
217     True
218    False
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228     True
229    False
230    False
231     True
232     True
233    False
234     True
235    False
236     True
237    False
238     True
239     True
240    False
241    False
242     True
243     True
244     True
245     True
246    False
247    False
248     True
249     True
250     True
251    False
252     True
253     True
254    False
255    False
256    False
257    False
258    False
259    False
260     True
261     True
262     True
263     True
264    False
265     True
266     True
267     True
268    False
269    False
270     True
271     True
272    False
273     True
274    False
275    False
276    False
277     True
278     True
279    False
280     True
281     True
282     True
283     True
284     True
285     True
286     True
287     True
288     True
289    False
290    False
291    False
292     True
293    False
294     True
295     True
296     True
297    False
298     True
299    False
300    False
301     True
302     True
303    False
304     True
305     True
306    False
307    False
308     True
309    False
310    False
311    False
312    False
313     True
314     True
315    False
316    False
317     True
318    False
319    False
320     True
321     True
322    False
323    False
324     True
325    False
326     True
327    False
328    False
329    False
330    False
331     True
332     True
333     True
334    False
335     True
336     True
337    False
338     True
339     True
340     True
341    False
342     True
343     True
344     True
345    False
346    False
347    False
348     True
349     True
350     True
351     True
352     True
353     True
354     True
355     True
356    False
357    False
358    False
359    False
360     True
361     True
362    False
363     True
364     True
365     True
366    False
367    False
368    False
369    False
370     True
371     True
372     True
373     True
374    False
375    False
376    False
377     True
378     True
379     True
380    False
381    False
382     True
383    False
384     True
385     True
386     True
387    False
388     True
389    False
390     True
391     True
392     True
393    False
394    False
395     True
396    False
397     True
398     True
399    False
400     True
401     True
402    False
403     True
404    False
405     True
406     True
407     True
408     True
409    False
410     True
411     True
412    False
413     True
414     True
415    False
416    False
417    False
418     True
419    False
420     True
421     True
422     True
423    False
424     True
425     True
426    False
427    False
428     True
429     True
430     True
431    False
432    False
433     True
434     True
435    False
436    False
437    False
438     True
439     True
440    False
441     True
442     True
443    False
444     True
445     True
446    False
447     True
448    False
449     True
450     True
451     True
452     True
453     True
454     True
455     True
456     True
457    False
458    False
459     True
460     True
461     True
462     True
463     True
464     True
465     True
466     True
467     True
468     True
469    False
470     True
471     True
472    False
473    False
474    False
475     True
476     True
477     True
478     True
479    False
480     True
481     True
482     True
483    False
484     True
485    False
486    False
487     True
488     True
489     True
490     True
491     True
492     True
493     True
494     True
495     True
496    False
497     True
498    False
499     True
500     True
501    False
502    False
503    False
504    False
505     True
506    False
507     True
508     True
509     True
510     True
511     True
512     True
513    False
514     True
515     True
516    False
517     True
518    False
519     True
520    False
521     True
522     True
523    False
524     True
525     True
526    False
527     True
528     True
529     True
530    False
531     True
532     True
533    False
534    False
535    False
536     True
537    False
538     True
539    False
540    False
541    False
542    False
543     True
544     True
545     True
546    False
547     True
548     True
549     True
550     True
551     True
552     True
553     True
554    False
555     True
556    False
557     True
558    False
559    False
560     True
561     True
562     True
563     True
564    False
565     True
566     True
567    False
568     True
569     True
570     True
571    False
572     True
573    False
574     True
575     True
576    False
577    False
578    False
579     True
580    False
581    False
582     True
583     True
584     True
585    False
586     True
587     True
588     True
589     True
590     True
591    False
592     True
593    False
594     True
595     True
596    False
597     True
598     True
599     True
600    False
601     True
602     True
603     True
604     True
605     True
606     True
607     True
608    False
609    False
610    False
611     True
612    False
613     True
614     True
615    False
616     True
617    False
618    False
619     True
620     True
621     True
622     True
623     True
624     True
625     True
626     True
627    False
628     True
629     True
630     True
631     True
632     True
633     True
634    False
635    False
636     True
637     True
638    False
639     True
640     True
641    False
642    False
643     True
644    False
645     True
646     True
647     True
648     True
649    False
650     True
651    False
652     True
653    False
654    False
655     True
656     True
657    False
658     True
659     True
660     True
661     True
662     True
663     True
664     True
665     True
666     True
667     True
668     True
669    False
670    False
671     True
672     True
673     True
674     True
675     True
676     True
677    False
678    False
679     True
680    False
681     True
682     True
683     True
684     True
685     True
686     True
687     True
688     True
689    False
690     True
691    False
692     True
693     True
694     True
695     True
696     True
697    False
698     True
699     True
700    False
701     True
702    False
703     True
704     True
705     True
706    False
707     True
708    False
709     True
710    False
711     True
712     True
713     True
714     True
715     True
716    False
717    False
718     True
719     True
720    False
721     True
722     True
723     True
724     True
725     True
726    False
727    False
728     True
729    False
730    False
731     True
732     True
733     True
734     True
735     True
736    False
737     True
738     True
739     True
740     True
741     True
742    False
743     True
744     True
745     True
746     True
747    False
748     True
749     True
750    False
751     True
752     True
753     True
754    False
755     True
756     True
757     True
758     True
759    False
760     True
761     True
762     True
763    False
764     True
765    False
766     True
767    False
768     True
769     True
770     True
771     True
772    False
773     True
774    False
775     True
776     True
777    False
778     True
779    False
780    False
781    False
782     True
783     True
784     True
785     True
786    False
787     True
788     True
789     True
790     True
791     True
792    False
793     True
794     True
795     True
796    False
797    False
798     True
799    False
800     True
801    False
802     True
803     True
804     True
805     True
806     True
807    False
808     True
809    False
810     True
811     True
812     True
813    False
814     True
815     True
816    False
817     True
818     True
819     True
820    False
821     True
822     True
823    False
824     True
825     True
826     True
827     True
828     True
829    False
830    False
831     True
832     True
833     True
834     True
835    False
836     True
837     True
838     True
839     True
840     True
841     True
842    False
843     True
844     True
845     True
846     True
847     True
848     True
849    False
850     True
851     True
852    False
853    False
854    False
855    False
856    False
857     True
858    False
859     True
860     True
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: sex, dtype: bool

In [21]:
titanic_male = titanic.loc[mask1]

In [22]:
titanic_male.head()

   survived  pclass   sex   age  sibsp  parch     fare embarked deck
0         0       3  male  22.0      1      0   7.2500        S  NaN
4         0       3  male  35.0      0      0   8.0500        S  NaN
5         0       3  male   NaN      0      0   8.4583        Q  NaN
6         0       1  male  54.0      0      0  51.8625        S    E
7         0       3  male   2.0      3      1  21.0750        S  NaN

In [23]:
titanic.dtypes

survived      int64
pclass        int64
sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
deck         object
dtype: object

In [24]:
titanic.dtypes == object

survived    False
pclass      False
sex          True
age         False
sibsp       False
parch       False
fare        False
embarked     True
deck         True
dtype: bool

In [25]:
mask2 = titanic.dtypes == object
mask2

survived    False
pclass      False
sex          True
age         False
sibsp       False
parch       False
fare        False
embarked     True
deck         True
dtype: bool

In [26]:
titanic.loc[:, ~mask2]  # Note: ~ (tilda) means NOT

     survived  pclass    age  sibsp  parch      fare
0           0       3  22.00      1      0    7.2500
1           1       1  38.00      1      0   71.2833
2           1       3  26.00      0      0    7.9250
3           1       1  35.00      1      0   53.1000
4           0       3  35.00      0      0    8.0500
5           0       3    NaN      0      0    8.4583
6           0       1  54.00      0      0   51.8625
7           0       3   2.00      3      1   21.0750
8           1       3  27.00      0      2   11.1333
9           1       2  14.00      1      0   30.0708
10          1       3   4.00      1      1   16.7000
11          1       1  58.00      0      0   26.5500
12          0       3  20.00      0      0    8.0500
13          0       3  39.00      1      5   31.2750
14          0       3  14.00      0      0    7.8542
15          1       2  55.00      0      0   16.0000
16          0       3   2.00      4      1   29.1250
17          1       2    NaN      0      0   13.0000
18          0       3  31.00      1      0   18.0000
19          1       3    NaN      0      0    7.2250
20          0       2  35.00      0      0   26.0000
21          1       2  34.00      0      0   13.0000
22          1       3  15.00      0      0    8.0292
23          1       1  28.00      0      0   35.5000
24          0       3   8.00      3      1   21.0750
25          1       3  38.00      1      5   31.3875
26          0       3    NaN      0      0    7.2250
27          0       1  19.00      3      2  263.0000
28          1       3    NaN      0      0    7.8792
29          0       3    NaN      0      0    7.8958
30          0       1  40.00      0      0   27.7208
31          1       1    NaN      1      0  146.5208
32          1       3    NaN      0      0    7.7500
33          0       2  66.00      0      0   10.5000
34          0       1  28.00      1      0   82.1708
35          0       1  42.00      1      0   52.0000
36          1       3    NaN      0      0    7.2292
37          0       3  21.00      0      0    8.0500
38          0       3  18.00      2      0   18.0000
39          1       3  14.00      1      0   11.2417
40          0       3  40.00      1      0    9.4750
41          0       2  27.00      1      0   21.0000
42          0       3    NaN      0      0    7.8958
43          1       2   3.00      1      2   41.5792
44          1       3  19.00      0      0    7.8792
45          0       3    NaN      0      0    8.0500
46          0       3    NaN      1      0   15.5000
47          1       3    NaN      0      0    7.7500
48          0       3    NaN      2      0   21.6792
49          0       3  18.00      1      0   17.8000
50          0       3   7.00      4      1   39.6875
51          0       3  21.00      0      0    7.8000
52          1       1  49.00      1      0   76.7292
53          1       2  29.00      1      0   26.0000
54          0       1  65.00      0      1   61.9792
55          1       1    NaN      0      0   35.5000
56          1       2  21.00      0      0   10.5000
57          0       3  28.50      0      0    7.2292
58          1       2   5.00      1      2   27.7500
59          0       3  11.00      5      2   46.9000
60          0       3  22.00      0      0    7.2292
61          1       1  38.00      0      0   80.0000
62          0       1  45.00      1      0   83.4750
63          0       3   4.00      3      2   27.9000
64          0       1    NaN      0      0   27.7208
65          1       3    NaN      1      1   15.2458
66          1       2  29.00      0      0   10.5000
67          0       3  19.00      0      0    8.1583
68          1       3  17.00      4      2    7.9250
69          0       3  26.00      2      0    8.6625
70          0       2  32.00      0      0   10.5000
71          0       3  16.00      5      2   46.9000
72          0       2  21.00      0      0   73.5000
73          0       3  26.00      1      0   14.4542
74          1       3  32.00      0      0   56.4958
75          0       3  25.00      0      0    7.6500
76          0       3    NaN      0      0    7.8958
77          0       3    NaN      0      0    8.0500
78          1       2   0.83      0      2   29.0000
79          1       3  30.00      0      0   12.4750
80          0       3  22.00      0      0    9.0000
81          1       3  29.00      0      0    9.5000
82          1       3    NaN      0      0    7.7875
83          0       1  28.00      0      0   47.1000
84          1       2  17.00      0      0   10.5000
85          1       3  33.00      3      0   15.8500
86          0       3  16.00      1      3   34.3750
87          0       3    NaN      0      0    8.0500
88          1       1  23.00      3      2  263.0000
89          0       3  24.00      0      0    8.0500
90          0       3  29.00      0      0    8.0500
91          0       3  20.00      0      0    7.8542
92          0       1  46.00      1      0   61.1750
93          0       3  26.00      1      2   20.5750
94          0       3  59.00      0      0    7.2500
95          0       3    NaN      0      0    8.0500
96          0       1  71.00      0      0   34.6542
97          1       1  23.00      0      1   63.3583
98          1       2  34.00      0      1   23.0000
99          0       2  34.00      1      0   26.0000
100         0       3  28.00      0      0    7.8958
101         0       3    NaN      0      0    7.8958
102         0       1  21.00      0      1   77.2875
103         0       3  33.00      0      0    8.6542
104         0       3  37.00      2      0    7.9250
105         0       3  28.00      0      0    7.8958
106         1       3  21.00      0      0    7.6500
107         1       3    NaN      0      0    7.7750
108         0       3  38.00      0      0    7.8958
109         1       3    NaN      1      0   24.1500
110         0       1  47.00      0      0   52.0000
111         0       3  14.50      1      0   14.4542
112         0       3  22.00      0      0    8.0500
113         0       3  20.00      1      0    9.8250
114         0       3  17.00      0      0   14.4583
115         0       3  21.00      0      0    7.9250
116         0       3  70.50      0      0    7.7500
117         0       2  29.00      1      0   21.0000
118         0       1  24.00      0      1  247.5208
119         0       3   2.00      4      2   31.2750
120         0       2  21.00      2      0   73.5000
121         0       3    NaN      0      0    8.0500
122         0       2  32.50      1      0   30.0708
123         1       2  32.50      0      0   13.0000
124         0       1  54.00      0      1   77.2875
125         1       3  12.00      1      0   11.2417
126         0       3    NaN      0      0    7.7500
127         1       3  24.00      0      0    7.1417
128         1       3    NaN      1      1   22.3583
129         0       3  45.00      0      0    6.9750
130         0       3  33.00      0      0    7.8958
131         0       3  20.00      0      0    7.0500
132         0       3  47.00      1      0   14.5000
133         1       2  29.00      1      0   26.0000
134         0       2  25.00      0      0   13.0000
135         0       2  23.00      0      0   15.0458
136         1       1  19.00      0      2   26.2833
137         0       1  37.00      1      0   53.1000
138         0       3  16.00      0      0    9.2167
139         0       1  24.00      0      0   79.2000
140         0       3    NaN      0      2   15.2458
141         1       3  22.00      0      0    7.7500
142         1       3  24.00      1      0   15.8500
143         0       3  19.00      0      0    6.7500
144         0       2  18.00      0      0   11.5000
145         0       2  19.00      1      1   36.7500
146         1       3  27.00      0      0    7.7958
147         0       3   9.00      2      2   34.3750
148         0       2  36.50      0      2   26.0000
149         0       2  42.00      0      0   13.0000
150         0       2  51.00      0      0   12.5250
151         1       1  22.00      1      0   66.6000
152         0       3  55.50      0      0    8.0500
153         0       3  40.50      0      2   14.5000
154         0       3    NaN      0      0    7.3125
155         0       1  51.00      0      1   61.3792
156         1       3  16.00      0      0    7.7333
157         0       3  30.00      0      0    8.0500
158         0       3    NaN      0      0    8.6625
159         0       3    NaN      8      2   69.5500
160         0       3  44.00      0      1   16.1000
161         1       2  40.00      0      0   15.7500
162         0       3  26.00      0      0    7.7750
163         0       3  17.00      0      0    8.6625
164         0       3   1.00      4      1   39.6875
165         1       3   9.00      0      2   20.5250
166         1       1    NaN      0      1   55.0000
167         0       3  45.00      1      4   27.9000
168         0       1    NaN      0      0   25.9250
169         0       3  28.00      0      0   56.4958
170         0       1  61.00      0      0   33.5000
171         0       3   4.00      4      1   29.1250
172         1       3   1.00      1      1   11.1333
173         0       3  21.00      0      0    7.9250
174         0       1  56.00      0      0   30.6958
175         0       3  18.00      1      1    7.8542
176         0       3    NaN      3      1   25.4667
177         0       1  50.00      0      0   28.7125
178         0       2  30.00      0      0   13.0000
179         0       3  36.00      0      0    0.0000
180         0       3    NaN      8      2   69.5500
181         0       2    NaN      0      0   15.0500
182         0       3   9.00      4      2   31.3875
183         1       2   1.00      2      1   39.0000
184         1       3   4.00      0      2   22.0250
185         0       1    NaN      0      0   50.0000
186         1       3    NaN      1      0   15.5000
187         1       1  45.00      0      0   26.5500
188         0       3  40.00      1      1   15.5000
189         0       3  36.00      0      0    7.8958
190         1       2  32.00      0      0   13.0000
191         0       2  19.00      0      0   13.0000
192         1       3  19.00      1      0    7.8542
193         1       2   3.00      1      1   26.0000
194         1       1  44.00      0      0   27.7208
195         1       1  58.00      0      0  146.5208
196         0       3    NaN      0      0    7.7500
197         0       3  42.00      0      1    8.4042
198         1       3    NaN      0      0    7.7500
199         0       2  24.00      0      0   13.0000
200         0       3  28.00      0      0    9.5000
201         0       3    NaN      8      2   69.5500
202         0       3  34.00      0      0    6.4958
203         0       3  45.50      0      0    7.2250
204         1       3  18.00      0      0    8.0500
205         0       3   2.00      0      1   10.4625
206         0       3  32.00      1      0   15.8500
207         1       3  26.00      0      0   18.7875
208         1       3  16.00      0      0    7.7500
209         1       1  40.00      0      0   31.0000
210         0       3  24.00      0      0    7.0500
211         1       2  35.00      0      0   21.0000
212         0       3  22.00      0      0    7.2500
213         0       2  30.00      0      0   13.0000
214         0       3    NaN      1      0    7.7500
215         1       1  31.00      1      0  113.2750
216         1       3  27.00      0      0    7.9250
217         0       2  42.00      1      0   27.0000
218         1       1  32.00      0      0   76.2917
219         0       2  30.00      0      0   10.5000
220         1       3  16.00      0      0    8.0500
221         0       2  27.00      0      0   13.0000
222         0       3  51.00      0      0    8.0500
223         0       3    NaN      0      0    7.8958
224         1       1  38.00      1      0   90.0000
225         0       3  22.00      0      0    9.3500
226         1       2  19.00      0      0   10.5000
227         0       3  20.50      0      0    7.2500
228         0       2  18.00      0      0   13.0000
229         0       3    NaN      3      1   25.4667
230         1       1  35.00      1      0   83.4750
231         0       3  29.00      0      0    7.7750
232         0       2  59.00      0      0   13.5000
233         1       3   5.00      4      2   31.3875
234         0       2  24.00      0      0   10.5000
235         0       3    NaN      0      0    7.5500
236         0       2  44.00      1      0   26.0000
237         1       2   8.00      0      2   26.2500
238         0       2  19.00      0      0   10.5000
239         0       2  33.00      0      0   12.2750
240         0       3    NaN      1      0   14.4542
241         1       3    NaN      1      0   15.5000
242         0       2  29.00      0      0   10.5000
243         0       3  22.00      0      0    7.1250
244         0       3  30.00      0      0    7.2250
245         0       1  44.00      2      0   90.0000
246         0       3  25.00      0      0    7.7750
247         1       2  24.00      0      2   14.5000
248         1       1  37.00      1      1   52.5542
249         0       2  54.00      1      0   26.0000
250         0       3    NaN      0      0    7.2500
251         0       3  29.00      1      1   10.4625
252         0       1  62.00      0      0   26.5500
253         0       3  30.00      1      0   16.1000
254         0       3  41.00      0      2   20.2125
255         1       3  29.00      0      2   15.2458
256         1       1    NaN      0      0   79.2000
257         1       1  30.00      0      0   86.5000
258         1       1  35.00      0      0  512.3292
259         1       2  50.00      0      1   26.0000
260         0       3    NaN      0      0    7.7500
261         1       3   3.00      4      2   31.3875
262         0       1  52.00      1      1   79.6500
263         0       1  40.00      0      0    0.0000
264         0       3    NaN      0      0    7.7500
265         0       2  36.00      0      0   10.5000
266         0       3  16.00      4      1   39.6875
267         1       3  25.00      1      0    7.7750
268         1       1  58.00      0      1  153.4625
269         1       1  35.00      0      0  135.6333
270         0       1    NaN      0      0   31.0000
271         1       3  25.00      0      0    0.0000
272         1       2  41.00      0      1   19.5000
273         0       1  37.00      0      1   29.7000
274         1       3    NaN      0      0    7.7500
275         1       1  63.00      1      0   77.9583
276         0       3  45.00      0      0    7.7500
277         0       2    NaN      0      0    0.0000
278         0       3   7.00      4      1   29.1250
279         1       3  35.00      1      1   20.2500
280         0       3  65.00      0      0    7.7500
281         0       3  28.00      0      0    7.8542
282         0       3  16.00      0      0    9.5000
283         1       3  19.00      0      0    8.0500
284         0       1    NaN      0      0   26.0000
285         0       3  33.00      0      0    8.6625
286         1       3  30.00      0      0    9.5000
287         0       3  22.00      0      0    7.8958
288         1       2  42.00      0      0   13.0000
289         1       3  22.00      0      0    7.7500
290         1       1  26.00      0      0   78.8500
291         1       1  19.00      1      0   91.0792
292         0       2  36.00      0      0   12.8750
293         0       3  24.00      0      0    8.8500
294         0       3  24.00      0      0    7.8958
295         0       1    NaN      0      0   27.7208
296         0       3  23.50      0      0    7.2292
297         0       1   2.00      1      2  151.5500
298         1       1    NaN      0      0   30.5000
299         1       1  50.00      0      1  247.5208
300         1       3    NaN      0      0    7.7500
301         1       3    NaN      2      0   23.2500
302         0       3  19.00      0      0    0.0000
303         1       2    NaN      0      0   12.3500
304         0       3    NaN      0      0    8.0500
305         1       1   0.92      1      2  151.5500
306         1       1    NaN      0      0  110.8833
307         1       1  17.00      1      0  108.9000
308         0       2  30.00      1      0   24.0000
309         1       1  30.00      0      0   56.9292
310         1       1  24.00      0      0   83.1583
311         1       1  18.00      2      2  262.3750
312         0       2  26.00      1      1   26.0000
313         0       3  28.00      0      0    7.8958
314         0       2  43.00      1      1   26.2500
315         1       3  26.00      0      0    7.8542
316         1       2  24.00      1      0   26.0000
317         0       2  54.00      0      0   14.0000
318         1       1  31.00      0      2  164.8667
319         1       1  40.00      1      1  134.5000
320         0       3  22.00      0      0    7.2500
321         0       3  27.00      0      0    7.8958
322         1       2  30.00      0      0   12.3500
323         1       2  22.00      1      1   29.0000
324         0       3    NaN      8      2   69.5500
325         1       1  36.00      0      0  135.6333
326         0       3  61.00      0      0    6.2375
327         1       2  36.00      0      0   13.0000
328         1       3  31.00      1      1   20.5250
329         1       1  16.00      0      1   57.9792
330         1       3    NaN      2      0   23.2500
331         0       1  45.50      0      0   28.5000
332         0       1  38.00      0      1  153.4625
333         0       3  16.00      2      0   18.0000
334         1       1    NaN      1      0  133.6500
335         0       3    NaN      0      0    7.8958
336         0       1  29.00      1      0   66.6000
337         1       1  41.00      0      0  134.5000
338         1       3  45.00      0      0    8.0500
339         0       1  45.00      0      0   35.5000
340         1       2   2.00      1      1   26.0000
341         1       1  24.00      3      2  263.0000
342         0       2  28.00      0      0   13.0000
343         0       2  25.00      0      0   13.0000
344         0       2  36.00      0      0   13.0000
345         1       2  24.00      0      0   13.0000
346         1       2  40.00      0      0   13.0000
347         1       3    NaN      1      0   16.1000
348         1       3   3.00      1      1   15.9000
349         0       3  42.00      0      0    8.6625
350         0       3  23.00      0      0    9.2250
351         0       1    NaN      0      0   35.0000
352         0       3  15.00      1      1    7.2292
353         0       3  25.00      1      0   17.8000
354         0       3    NaN      0      0    7.2250
355         0       3  28.00      0      0    9.5000
356         1       1  22.00      0      1   55.0000
357         0       2  38.00      0      0   13.0000
358         1       3    NaN      0      0    7.8792
359         1       3    NaN      0      0    7.8792
360         0       3  40.00      1      4   27.9000
361         0       2  29.00      1      0   27.7208
362         0       3  45.00      0      1   14.4542
363         0       3  35.00      0      0    7.0500
364         0       3    NaN      1      0   15.5000
365         0       3  30.00      0      0    7.2500
366         1       1  60.00      1      0   75.2500
367         1       3    NaN      0      0    7.2292
368         1       3    NaN      0      0    7.7500
369         1       1  24.00      0      0   69.3000
370         1       1  25.00      1      0   55.4417
371         0       3  18.00      1      0    6.4958
372         0       3  19.00      0      0    8.0500
373         0       1  22.00      0      0  135.6333
374         0       3   3.00      3      1   21.0750
375         1       1    NaN      1      0   82.1708

In [27]:
titanic.loc[mask1, ~mask2]  # Note: ~ (tilda) means NOT

     survived  pclass    age  sibsp  parch      fare
0           0       3  22.00      1      0    7.2500
4           0       3  35.00      0      0    8.0500
5           0       3    NaN      0      0    8.4583
6           0       1  54.00      0      0   51.8625
7           0       3   2.00      3      1   21.0750
12          0       3  20.00      0      0    8.0500
13          0       3  39.00      1      5   31.2750
16          0       3   2.00      4      1   29.1250
17          1       2    NaN      0      0   13.0000
20          0       2  35.00      0      0   26.0000
21          1       2  34.00      0      0   13.0000
23          1       1  28.00      0      0   35.5000
26          0       3    NaN      0      0    7.2250
27          0       1  19.00      3      2  263.0000
29          0       3    NaN      0      0    7.8958
30          0       1  40.00      0      0   27.7208
33          0       2  66.00      0      0   10.5000
34          0       1  28.00      1      0   82.1708
35          0       1  42.00      1      0   52.0000
36          1       3    NaN      0      0    7.2292
37          0       3  21.00      0      0    8.0500
42          0       3    NaN      0      0    7.8958
45          0       3    NaN      0      0    8.0500
46          0       3    NaN      1      0   15.5000
48          0       3    NaN      2      0   21.6792
50          0       3   7.00      4      1   39.6875
51          0       3  21.00      0      0    7.8000
54          0       1  65.00      0      1   61.9792
55          1       1    NaN      0      0   35.5000
57          0       3  28.50      0      0    7.2292
59          0       3  11.00      5      2   46.9000
60          0       3  22.00      0      0    7.2292
62          0       1  45.00      1      0   83.4750
63          0       3   4.00      3      2   27.9000
64          0       1    NaN      0      0   27.7208
65          1       3    NaN      1      1   15.2458
67          0       3  19.00      0      0    8.1583
69          0       3  26.00      2      0    8.6625
70          0       2  32.00      0      0   10.5000
72          0       2  21.00      0      0   73.5000
73          0       3  26.00      1      0   14.4542
74          1       3  32.00      0      0   56.4958
75          0       3  25.00      0      0    7.6500
76          0       3    NaN      0      0    7.8958
77          0       3    NaN      0      0    8.0500
78          1       2   0.83      0      2   29.0000
80          0       3  22.00      0      0    9.0000
81          1       3  29.00      0      0    9.5000
83          0       1  28.00      0      0   47.1000
86          0       3  16.00      1      3   34.3750
87          0       3    NaN      0      0    8.0500
89          0       3  24.00      0      0    8.0500
90          0       3  29.00      0      0    8.0500
91          0       3  20.00      0      0    7.8542
92          0       1  46.00      1      0   61.1750
93          0       3  26.00      1      2   20.5750
94          0       3  59.00      0      0    7.2500
95          0       3    NaN      0      0    8.0500
96          0       1  71.00      0      0   34.6542
97          1       1  23.00      0      1   63.3583
99          0       2  34.00      1      0   26.0000
101         0       3    NaN      0      0    7.8958
102         0       1  21.00      0      1   77.2875
103         0       3  33.00      0      0    8.6542
104         0       3  37.00      2      0    7.9250
105         0       3  28.00      0      0    7.8958
107         1       3    NaN      0      0    7.7750
108         0       3  38.00      0      0    7.8958
110         0       1  47.00      0      0   52.0000
112         0       3  22.00      0      0    8.0500
115         0       3  21.00      0      0    7.9250
116         0       3  70.50      0      0    7.7500
117         0       2  29.00      1      0   21.0000
118         0       1  24.00      0      1  247.5208
120         0       2  21.00      2      0   73.5000
121         0       3    NaN      0      0    8.0500
122         0       2  32.50      1      0   30.0708
124         0       1  54.00      0      1   77.2875
125         1       3  12.00      1      0   11.2417
126         0       3    NaN      0      0    7.7500
127         1       3  24.00      0      0    7.1417
129         0       3  45.00      0      0    6.9750
130         0       3  33.00      0      0    7.8958
131         0       3  20.00      0      0    7.0500
134         0       2  25.00      0      0   13.0000
135         0       2  23.00      0      0   15.0458
137         0       1  37.00      1      0   53.1000
138         0       3  16.00      0      0    9.2167
139         0       1  24.00      0      0   79.2000
143         0       3  19.00      0      0    6.7500
144         0       2  18.00      0      0   11.5000
145         0       2  19.00      1      1   36.7500
146         1       3  27.00      0      0    7.7958
148         0       2  36.50      0      2   26.0000
149         0       2  42.00      0      0   13.0000
150         0       2  51.00      0      0   12.5250
152         0       3  55.50      0      0    8.0500
153         0       3  40.50      0      2   14.5000
154         0       3    NaN      0      0    7.3125
155         0       1  51.00      0      1   61.3792
157         0       3  30.00      0      0    8.0500
158         0       3    NaN      0      0    8.6625
159         0       3    NaN      8      2   69.5500
160         0       3  44.00      0      1   16.1000
162         0       3  26.00      0      0    7.7750
163         0       3  17.00      0      0    8.6625
164         0       3   1.00      4      1   39.6875
165         1       3   9.00      0      2   20.5250
168         0       1    NaN      0      0   25.9250
169         0       3  28.00      0      0   56.4958
170         0       1  61.00      0      0   33.5000
171         0       3   4.00      4      1   29.1250
173         0       3  21.00      0      0    7.9250
174         0       1  56.00      0      0   30.6958
175         0       3  18.00      1      1    7.8542
176         0       3    NaN      3      1   25.4667
178         0       2  30.00      0      0   13.0000
179         0       3  36.00      0      0    0.0000
181         0       2    NaN      0      0   15.0500
182         0       3   9.00      4      2   31.3875
183         1       2   1.00      2      1   39.0000
185         0       1    NaN      0      0   50.0000
187         1       1  45.00      0      0   26.5500
188         0       3  40.00      1      1   15.5000
189         0       3  36.00      0      0    7.8958
191         0       2  19.00      0      0   13.0000
193         1       2   3.00      1      1   26.0000
196         0       3    NaN      0      0    7.7500
197         0       3  42.00      0      1    8.4042
200         0       3  28.00      0      0    9.5000
201         0       3    NaN      8      2   69.5500
202         0       3  34.00      0      0    6.4958
203         0       3  45.50      0      0    7.2250
204         1       3  18.00      0      0    8.0500
206         0       3  32.00      1      0   15.8500
207         1       3  26.00      0      0   18.7875
209         1       1  40.00      0      0   31.0000
210         0       3  24.00      0      0    7.0500
212         0       3  22.00      0      0    7.2500
213         0       2  30.00      0      0   13.0000
214         0       3    NaN      1      0    7.7500
217         0       2  42.00      1      0   27.0000
219         0       2  30.00      0      0   10.5000
220         1       3  16.00      0      0    8.0500
221         0       2  27.00      0      0   13.0000
222         0       3  51.00      0      0    8.0500
223         0       3    NaN      0      0    7.8958
224         1       1  38.00      1      0   90.0000
225         0       3  22.00      0      0    9.3500
226         1       2  19.00      0      0   10.5000
227         0       3  20.50      0      0    7.2500
228         0       2  18.00      0      0   13.0000
231         0       3  29.00      0      0    7.7750
232         0       2  59.00      0      0   13.5000
234         0       2  24.00      0      0   10.5000
236         0       2  44.00      1      0   26.0000
238         0       2  19.00      0      0   10.5000
239         0       2  33.00      0      0   12.2750
242         0       2  29.00      0      0   10.5000
243         0       3  22.00      0      0    7.1250
244         0       3  30.00      0      0    7.2250
245         0       1  44.00      2      0   90.0000
248         1       1  37.00      1      1   52.5542
249         0       2  54.00      1      0   26.0000
250         0       3    NaN      0      0    7.2500
252         0       1  62.00      0      0   26.5500
253         0       3  30.00      1      0   16.1000
260         0       3    NaN      0      0    7.7500
261         1       3   3.00      4      2   31.3875
262         0       1  52.00      1      1   79.6500
263         0       1  40.00      0      0    0.0000
265         0       2  36.00      0      0   10.5000
266         0       3  16.00      4      1   39.6875
267         1       3  25.00      1      0    7.7750
270         0       1    NaN      0      0   31.0000
271         1       3  25.00      0      0    0.0000
273         0       1  37.00      0      1   29.7000
277         0       2    NaN      0      0    0.0000
278         0       3   7.00      4      1   29.1250
280         0       3  65.00      0      0    7.7500
281         0       3  28.00      0      0    7.8542
282         0       3  16.00      0      0    9.5000
283         1       3  19.00      0      0    8.0500
284         0       1    NaN      0      0   26.0000
285         0       3  33.00      0      0    8.6625
286         1       3  30.00      0      0    9.5000
287         0       3  22.00      0      0    7.8958
288         1       2  42.00      0      0   13.0000
292         0       2  36.00      0      0   12.8750
294         0       3  24.00      0      0    7.8958
295         0       1    NaN      0      0   27.7208
296         0       3  23.50      0      0    7.2292
298         1       1    NaN      0      0   30.5000
301         1       3    NaN      2      0   23.2500
302         0       3  19.00      0      0    0.0000
304         0       3    NaN      0      0    8.0500
305         1       1   0.92      1      2  151.5500
308         0       2  30.00      1      0   24.0000
313         0       3  28.00      0      0    7.8958
314         0       2  43.00      1      1   26.2500
317         0       2  54.00      0      0   14.0000
320         0       3  22.00      0      0    7.2500
321         0       3  27.00      0      0    7.8958
324         0       3    NaN      8      2   69.5500
326         0       3  61.00      0      0    6.2375
331         0       1  45.50      0      0   28.5000
332         0       1  38.00      0      1  153.4625
333         0       3  16.00      2      0   18.0000
335         0       3    NaN      0      0    7.8958
336         0       1  29.00      1      0   66.6000
338         1       3  45.00      0      0    8.0500
339         0       1  45.00      0      0   35.5000
340         1       2   2.00      1      1   26.0000
342         0       2  28.00      0      0   13.0000
343         0       2  25.00      0      0   13.0000
344         0       2  36.00      0      0   13.0000
348         1       3   3.00      1      1   15.9000
349         0       3  42.00      0      0    8.6625
350         0       3  23.00      0      0    9.2250
351         0       1    NaN      0      0   35.0000
352         0       3  15.00      1      1    7.2292
353         0       3  25.00      1      0   17.8000
354         0       3    NaN      0      0    7.2250
355         0       3  28.00      0      0    9.5000
360         0       3  40.00      1      4   27.9000
361         0       2  29.00      1      0   27.7208
363         0       3  35.00      0      0    7.0500
364         0       3    NaN      1      0   15.5000
365         0       3  30.00      0      0    7.2500
370         1       1  25.00      1      0   55.4417
371         0       3  18.00      1      0    6.4958
372         0       3  19.00      0      0    8.0500
373         0       1  22.00      0      0  135.6333
377         0       1  27.00      0      2  211.5000
378         0       3  20.00      0      0    4.0125
379         0       3  19.00      0      0    7.7750
382         0       3  32.00      0      0    7.9250
384         0       3    NaN      0      0    7.8958
385         0       2  18.00      0      0   73.5000
386         0       3   1.00      5      2   46.9000
388         0       3    NaN      0      0    7.7292
390         1       1  36.00      1      2  120.0000
391         1       3  21.00      0      0    7.7958
392         0       3  28.00      2      0    7.9250
395         0       3  22.00      0      0    7.7958
397         0       2  46.00      0      0   26.0000
398         0       2  23.00      0      0   10.5000
400         1       3  39.00      0      0    7.9250
401         0       3  26.00      0      0    8.0500
403         0       3  28.00      1      0   15.8500
405         0       2  34.00      1      0   21.0000
406         0       3  51.00      0      0    7.7500
407         1       2   3.00      1      1   18.7500
408         0       3  21.00      0      0    7.7750
410         0       3    NaN      0      0    7.8958
411         0       3    NaN      0      0    6.8583
413         0       2    NaN      0      0    0.0000
414         1       3  44.00      0      0    7.9250
418         0       2  30.00      0      0   13.0000
420         0       3    NaN      0      0    7.8958
421         0       3  21.00      0      0    7.7333
422         0       3  29.00      0      0    7.8750
424         0       3  18.00      1      1   20.2125
425         0       3    NaN      0      0    7.2500
428         0       3    NaN      0      0    7.7500
429         1       3  32.00      0      0    8.0500
430         1       1  28.00      0      0   26.5500
433         0       3  17.00      0      0    7.1250
434         0       1  50.00      1      0   55.9000
438         0       1  64.00      1      4  263.0000
439         0       2  31.00      0      0   10.5000
441         0       3  20.00      0      0    9.5000
442         0       3  25.00      1      0    7.7750
444         1       3    NaN      0      0    8.1125
445         1       1   4.00      0      2   81.8583
447         1       1  34.00      0      0   26.5500
449         1       1  52.00      0      0   30.5000
450         0       2  36.00      1      2   27.7500
451         0       3    NaN      1      0   19.9667
452         0       1  30.00      0      0   27.7500
453         1       1  49.00      1      0   89.1042
454         0       3    NaN      0      0    8.0500
455         1       3  29.00      0      0    7.8958
456         0       1  65.00      0      0   26.5500
459         0       3    NaN      0      0    7.7500
460         1       1  48.00      0      0   26.5500
461         0       3  34.00      0      0    8.0500
462         0       1  47.00      0      0   38.5000
463         0       2  48.00      0      0   13.0000
464         0       3    NaN      0      0    8.0500
465         0       3  38.00      0      0    7.0500
466         0       2    NaN      0      0    0.0000
467         0       1  56.00      0      0   26.5500
468         0       3    NaN      0      0    7.7250
470         0       3    NaN      0      0    7.2500
471         0       3  38.00      0      0    8.6625
475         0       1    NaN      0      0   52.0000
476         0       2  34.00      1      0   21.0000
477         0       3  29.00      1      0    7.0458
478         0       3  22.00      0      0    7.5208
480         0       3   9.00      5      2   46.9000
481         0       2    NaN      0      0    0.0000
482         0       3  50.00      0      0    8.0500
484         1       1  25.00      1      0   91.0792
487         0       1  58.00      0      0   29.7000
488         0       3  30.00      0      0    8.0500
489         1       3   9.00      1      1   15.9000
490         0       3    NaN      1      0   19.9667
491         0       3  21.00      0      0    7.2500
492         0       1  55.00      0      0   30.5000
493         0       1  71.00      0      0   49.5042
494         0       3  21.00      0      0    8.0500
495         0       3    NaN      0      0   14.4583
497         0       3    NaN      0      0   15.1000
499         0       3  24.00      0      0    7.7958
500         0       3  17.00      0      0    8.6625
505         0       1  18.00      1      0  108.9000
507         1       1    NaN      0      0   26.5500
508         0       3  28.00      0      0   22.5250
509         1       3  26.00      0      0   56.4958
510         1       3  29.00      0      0    7.7500
511         0       3    NaN      0      0    8.0500
512         1       1  36.00      0      0   26.2875
514         0       3  24.00      0      0    7.4958
515         0       1  47.00      0      0   34.0208
517         0       3    NaN      0      0   24.1500
519         0       3  32.00      0      0    7.8958
521         0       3  22.00      0      0    7.8958
522         0       3    NaN      0      0    7.2250
524         0       3    NaN      0      0    7.2292
525         0       3  40.50      0      0    7.7500
527         0       1    NaN      0      0  221.7792
528         0       3  39.00      0      0    7.9250
529         0       2  23.00      2      1   11.5000
531         0       3    NaN      0      0    7.2292
532         0       3  17.00      1      1    7.2292
536         0       1  45.00      0      0   26.5500
538         0       3    NaN      0      0   14.5000
543         1       2  32.00      1      0   26.0000
544         0       1  50.00      1      0  106.4250
545         0       1  64.00      0      0   26.0000
547         1       2    NaN      0      0   13.8625
548         0       3  33.00      1      1   20.5250
549         1       2   8.00      1      1   36.7500
550         1       1  17.00      0      2  110.8833
551         0       2  27.00      0      0   26.0000
552         0       3    NaN      0      0    7.8292
553         1       3  22.00      0      0    7.2250
555         0       1  62.00      0      0   26.5500
557         0       1    NaN      0      0  227.5250
560         0       3    NaN      0      0    7.7500
561         0       3  40.00      0      0    7.8958
562         0       2  28.00      0      0   13.5000
563         0       3    NaN      0      0    8.0500
565         0       3  24.00      2      0   24.1500
566         0       3  19.00      0      0    7.8958
568         0       3    NaN      0      0    7.2292
569         1       3  32.00      0      0    7.8542
570         1       2  62.00      0      0   10.5000
572         1       1  36.00      0      0   26.3875
574         0       3  16.00      0      0    8.0500
575         0       3  19.00      0      0   14.5000
579         1       3  32.00      0      0    7.9250
582         0       2  54.00      0      0   26.0000
583         0       1  36.00      0      0   40.1250
584         0       3    NaN      0      0    8.7125
586         0       2  47.00      0      0   15.0000
587         1       1  60.00      1      1   79.2000
588         0       3  22.00      0      0    8.0500
589         0       3    NaN      0      0    8.0500
590         0       3  35.00      0      0    7.1250
592         0       3  47.00      0      0    7.2500
594         0       2  37.00      1      0   26.0000
595         0       3  36.00      1      1   24.1500
597         0       3  49.00      0      0    0.0000
598         0       3    NaN      0      0    7.2250